#friends-display-link {
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    font-size: 18px;
    padding: 15px 0px;
    margin-bottom: 15px;
    margin-top: -15px;
}

#friends-display-link i{
    color: #D5D5D5;
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: var(--main-boarder);
    padding-top: 15px;
}

.friends-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}
@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen{
    background-color: var(--yellow);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 2s ease-in-out forwards;
    animation-delay: 0.5s;
}