#no-mobile{
    position: fixed;
    z-index: 99;
    background-color: var(--yellow);
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

@media screen and (max-width:645px) {
    #no-mobile{
        display: none;
    }
}